<ion-header>
  <ion-toolbar color=success>
    <ion-buttons slot="start">
      <ion-back-button
        defaulHref="/login"
        text="Regresar">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-slides class="mainSlide" #slidePrincipal>
    <ion-slide>

        
        <ion-grid fixed>
      
          <ion-row>
          <ion-col>
              <h3>Seleccione Avatar</h3>
          </ion-col>
          </ion-row>
      
          <ion-row>
          <ion-col size="1" class="ion-align-self-center"><span class="row-centered"><</span> </ion-col>
          <ion-col size="10">
              <ion-slides [options]="avatarSlide">
              <ion-slide *ngFor="let avatar of avatars">
                  <ion-img class="pick-avatar" 
                          src="/assets/avatars/{{ avatar.img }}"
                          [ngClass]="{ 'pick-avatar-seleccionado': avatar.seleccionado }"
                          (click)="seleccionarAvatar( avatar )"></ion-img>
              </ion-slide>
              </ion-slides>
          </ion-col>
          <ion-col size="1" class="ion-align-self-center"><span class="row-centered">></span></ion-col>
          </ion-row>
      
          <form (ngSubmit)="registro( fRegistro )" #fRegistro="ngForm">
              <ion-row>
                  <ion-col>
                      
                      <ion-list>
                          
                          <ion-item>
                          <ion-label>Email</ion-label>
                          <ion-input name="email" 
                                      type="email"
                                      required></ion-input>
                          </ion-item>
      
                          <ion-item>
                          <ion-label>Nombre</ion-label>
                          <ion-input name="nombre"
                                      type="text"
                                      required></ion-input>
                          </ion-item>
      
                          <ion-item>
                          <ion-label>Password</ion-label>
                          <ion-input name="password"
                                      type="password"
                                      required></ion-input>
                          </ion-item>
      
                      </ion-list>
                  </ion-col>
              </ion-row>
              
            <ion-row>
              <ion-col>
                  <ion-button type="submit"
                              color="warning"
                              expand="full"
                              shape="round"
                              strong>
                      Crear usuario
                  </ion-button>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="round"
                        shape="round"
                        color="success"
                        strong
                        routerLink="/login">
                    Ya tengo cuenta
            </ion-button>

            </ion-col>
          </ion-row>
          
          </form>
      </ion-grid>
    </ion-slide>

  </ion-slides>


</ion-content>
