<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div>
        <img src="assets/images/udc.png"/>
        <h1>Bienvenidos</h1>
        <p>Demo proyecto de Ionic</p>
      </div>
    </ion-slide>
    <ion-slide>
      <h2>Proyecto social UdeC</h2>
    </ion-slide>
    <ion-slide>
      <div>
        <h2>Regístrate y reporta<br>tu incidencia</h2>
        <ion-button fill="clear"
                    routerLink="/login">
                Comenzar
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

